/* Styles for home screen */
.background img {
  background-image: url('img/booksReading.jpg');
  max-height: 100vw;
  max-width: 100vw;
  background-size: cover;
} 

/* Styles for About section */
.about{
	background-color: limegreen;
}
hr{
  border: 2px solid #eee;
}
/* Styles for project screenshots */
.screenshot img {
  max-height: 100vh;
  max-width: 80vh;
  padding: 1px;
}

/* Styles for skills section */
.skills{
	background-color: lightblue;
}
.eachSkill{
  border: 1px solid black;
}

/* Styles for contact section */
.contact{
	background-color: purple;
}