body{
  /* background-color: #f2ffe9; green from background pic*/
  /* background-color: #96adca;   */
  background-color: #CCDDE2;
}


/* Styles for home screen */
.background img {
  background-image: url('img/booksReading.jpg');
  max-height: 100vw;
  max-width: 100vw;
  background-size: cover;
} 

/* Styles for About section */
hr{
  border: 2px solid black;
}



/* Styles for Project section */
.project1{
  /* background-color: #f2ffe9; */
}
.screenshot img {
  max-height: 100vh;
  max-width: 80vh;
  padding: 1px;
}

.repoGithubLogo{
  background-color: black;
  color: white;
  margin-left: 12px;
}
.eachSkill{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  background-color: #4E8184;
  color: white;
}
.description{
  padding-bottom: 80px;

}


/* Styles for Skills section */
.skills{

}

/* Styles for contact section */
.contact{
	  background-color: #4e8092;
 

}